body
{
background-image: url(SamuraiBG1.jpeg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
h1, p
{
color: black; 
text-align: center;
margin:auto;
background-color: rgba(129, 143, 134, 0.836);
width: 50%;
margin-left: 25%;
padding: 0%;
}
h1 
{
text-shadow: 4px 2px 5px rgb(0, 0, 0);
font-size: 5vw;
background-color: rgba(129, 143, 134);
}
p
{
font-size: 2vw;
width: 40%;
padding: 5%;
}
a
{
    font-size: 1em;
    transition: transform 0.2s;
}
a:link
{
color:white
}
a:visited
{
color:red
}
a:hover
{
cursor: url(katana-cursor1.png), auto;
}
.tl 
{
position: fixed;
top: 10em;
left: 1em;
font-size: 1em;
height: auto;
width: 21%;
}
.dl 
{
position: fixed;
bottom: 5em;
left: 1em;
font-size: 1em;
height: auto;
width: 21%;
transition: 0.5s;
}
#navbar {
background-color: #333;
color: #fff;
margin: auto;
padding-left: 5%;
padding-right: 5%;
width: 40%;
text-align: center;
}

#navbar ul {
list-style-type: none;
margin: 0;
padding: 1em;
text-align: center; /* Center the navigation items */
}

#navbar li {
display: inline-block;
margin-right: 1%;
}

#navbar a {
text-decoration: none;
color: #fff;
}
li a {
    color: white;
    padding: 1em;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: red;
  }